<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <!-- logo svg -->
                <a class="navbar-brand" href="#First">
                    <img src="images/logo-dark.svg" alt="J-Curve logo"></a>
                <!-- end logo svg -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">

                {{ range .Site.Menus.prepend }}
                    <li><a class="external" href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a></li>
                {{ end }}

                <li class="active"><a href="#" data-nav-section="home"><span>{{ with .Site.Params.navigation.home }}{{ . | markdownify }}{{ end }}</span></a></li>
                
               

            </ul>
        </div>
    </nav>
    <!-- </div> -->
</div>
</header>